/*Footer*/
.footer-content {
    margin-top: 200px;
    border-top: solid 3px #c6c666;
    background: white;
    padding: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

.footer content p {
    font-size: 14px;
    text-align: center;
}

.footer-list ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
 }


.footer-content li{
    margin-left: 10px;
    margin-right: 50px;
 
}

/*IG og YT iconer får margin for at lave plads mellem alle iconer*/
.ig-footer{
    margin-right: 10px;
    margin-left: 20px;
}

.yt-footer{
    margin-right: 20px;
    margin-left: 20px;
}
/*Footer SoMe iconer's størrelse*/
.tw-footer img{
    width: 40px;
    height: 40px;
}
.yt-footer img{
    width: 40px;
    height: 40px;
}
.fb-footer img{
    width: 40px;
    height: 40px;
}
.ig-footer img{
    width: 40px;
    height: 40px;
}

/* nav begynder */
    
    #logo {
        height: 100px;
        margin: .5rem;
    }
    
    .navbar {
        visibility: visible;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        color: black;
        margin-left: 0;
        margin-right: 0;
        border-bottom: 3px solid #dbdb70;
    }
    
    .navbar-links ul {
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    .navbar-links li {
        list-style: none;
    }
    
    .navbar-links li a {
        text-decoration: none;
        color: black;
        padding: 1rem;
        display: block;
        font-family: 'Vast Shadow', Arial, Helvetica, sans-serif;
    }
    
    .navbar-links li:hover {
        background-color: #eb5e53;
    }
    
    .toggle-button {
        position: absolute;
        top: 35px;
        right: 50px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        height: 30px;
    }
    
    .toggle-button .bar {
        height: 3px;
        width: 60px;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
    }
    
    .toggle-button {
        display: flex;
        position: absolute;
    }
    
    .navbar-links {
        display: none;
        width: 100%;
    }
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    
    .navbar-links li {
        text-align: center;
    }
    
    .navbar-links a {
        padding: .5rem 1rem;
    }
    
    .navbar-links.active {
        display: flex;
    }
    
    @media screen and (min-width: 600px) {

        * {
            margin: 0px;
            padding: 0px;
        }
        body {
            background-color: white;
        }
        #forsidebillede {
            width: 100vw;
            height: 50vw;
        }
        .logo {
            padding: 3px;
        }
        .toggle-button {
            display: none;
        }
        .navbar {
            flex-direction: row;
            align-items: center;
            min-width: none;
        }
        .navbar-links {
            width: 50%;
            display: inline;
        }
        .navbar-links li {
            display: inline-block;
            justify-content: right;
        }
        .navbar-links ul {
            display: flex;
            margin: auto;
            flex-direction: row;
        }
        li {
            float: right;
        }
        li a {
            display: block;
            position: relative;
            color: #000000;
            margin: 0;
            text-decoration: none;
            font-size: 10px;
            font-family: 'Vast Shadow';
            z-index: 9;
        }
        li i {
            margin: 0;
        }
        li a:hover {
            color: #eb5e53;
        }
        li a:active {
            color: #eb5e53;
        }
        .navbar-links li:hover {
            background-color: white;
        }
    }
    /* Nav Slut */
    

@media screen and (min-width: 600px){

    *{
        margin: 0px;
        padding: 0px;
    }
    
    body{
        background-color: white;
    }

    #forsidebillede{
        width: 100%;
        height: 35vw;
    }

    .forside-bld{
        position: relative;
        text-align: center;
        color: white;
    }

    .center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
    }
    
    .logo{
        padding: 3px;
    }
    .toggle-button{
        display: none;
    }

    .navbar{
        flex-direction: row;
        align-items: center;
        min-width: none;
    }

    .navbar-links{
        width: 50%;
        display: inline;
    }

    .navbar-links li{ 
        display: inline-block;
        justify-content: right;
    }

    .navbar-links ul{
        display: flex;
        margin: auto;
        flex-direction: row;
    }
    
    li{
        float: right;
    }
    
    li a{
        display: block;
        color: #000000;
        margin: 0;
        text-decoration: none;
        font-size: 15px;
        font-family: Helvetica, Arieal, sans-serif;
    }
    
    li i{
        margin: 0;
    }
    
    li a:hover{
        color: #EB5E53;
    }
    
    li a:active{
        color: #EB5E53;
    }
}

    body {
        margin: 0%;
        background-color: white;
    }
    /* her begynder stylingen for mobil-tilstand */
    
    @media only screen and (max-width: 600px) {
        .inspo-mid-pic {
            position: absolute;
            right: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            z-index: 0;
            object-fit: cover;
            /* Scales the image so it covers whole area, thus will likely crop */
            object-position: center;
            /* Centers the image within the element */
            height: 50%;
            width: 80%;
            transform: scaleX(-1);
            border-bottom-left-radius: 35%;
            border-bottom-right-radius: 35%;
        }
        .text-item-left {
            text-align: left;
            margin-top: 250px;
            margin-left: 5%;
        }
        .text-item-right {
            text-align: right;
            margin-right: 5%;
        }
        .cirkel-container {
            display: flex;
            justify-content: center;
            margin-top: 15%;
            flex-wrap: wrap;
        }
        .cirkel1 {
            background-color: #F3953F;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Helvetica, Ariel, sans-serif;
            margin-right: 7%;
            text-align: center;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
            margin-bottom: 2%;
        }
        .cirkel2 {
            background-color: #dbdb70;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Helvetica, Ariel, sans-serif;
            margin-right: 7%;
            text-align: center;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
            margin-bottom: 2%;
        }
        .cirkel3 {
            background-color: #eb5e53;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Helvetica, Ariel, sans-serif;
            margin-right: 7%;
            text-align: center;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
            margin-bottom: 2%;
        }
        .cirkel4 {
            background-color: #fecc5b;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Helvetica, Ariel, sans-serif;
            text-align: center;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
            margin-bottom: 2%;
        }
        h1 {
            margin-top: 50px;
            font-family: 'Vast Shadow', Arial, Helvetica, sans-serif;
        }
        p {
            font-family: helvetica, sans-serif, arial;
            margin-top: 10px;
        }
        .tilmeld-knap {
            border: none;
            color: black;
            background-color:#dbdb70;
            border-radius: 15px;
            padding: 18px 50px;
            text-align: center;
            text-decoration: none;
            font-family: helvetica, sans-serif, arial;
            display: inline-block;
            font-size: 20px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            margin-left: 15vw;
            margin-top: 4%;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
        }
        .collage {
            margin-left: 1%;
            margin-top: 3%;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
            height: 50%;
            width: 98%;
        }
    }
    /*Her slutter styling for web i mobil tilstand*/
    /* her begynder stylingen for web-tilstand */
    
    @media only screen and (min-width: 600px) {
        .inspo-mid-pic {
            position: absolute;
            right: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            top: 0;
            z-index: 0;
            object-fit: cover;
            /* Scales the image so it covers whole area, thus will likely crop */
            object-position: center;
            /* Centers the image within the element */
            height: 65%;
            width: 25%;
            
            border-bottom-left-radius: 25%;
            border-bottom-right-radius: 25%;
        }
        .text-container {
            display: flex;
            justify-content: space-between;
        }
        .text-item-left {
            margin-right: 6%;
            margin-left: 6%;
        }
        .text-item-right {
            margin-right: 10%;
            margin-left: 6%;
            text-align: right;
        }
        .cirkel-container {
            display: flex;
            justify-content: center;
            margin-top: 15%;
            flex-wrap: wrap;
        }
        .cirkel1 {
            background-color: #F3953F;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Helvetica, Ariel, sans-serif;
            margin-right: 7%;
            text-align: center;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
        }
        .cirkel2 {
            background-color: #dbdb70;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Helvetica, Ariel, sans-serif;
            margin-right: 7%;
            text-align: center;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
        }
        .cirkel3 {
            background-color: #eb5e53;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Helvetica, Ariel, sans-serif;
            margin-right: 7%;
            text-align: center;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
        }
        .cirkel4 {
            background-color: #fecc5b;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Helvetica, Ariel, sans-serif;
            text-align: center;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
        }
        h1 {
            margin-top: 15%;
            font-family: 'Vast Shadow', Arial, Helvetica, sans-serif;
        }
        p {
            font-family: helvetica, sans-serif, arial;
            margin-top: 20px;
        }
        .collage {
            margin-left: 13%;
            margin-top: 8%;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
        }
        .tilmeld-knap {
            border: none;
            color: black;
            background-color: #dbdb70;
            border-radius: 15px;
            padding: 18px 50px;
            text-align: center;
            text-decoration: none;
            font-family: helvetica, sans-serif, arial;
            display: inline-block;
            font-size: 20px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            margin-left: 475px;
            margin-top: 4%;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
        }
    }