
/* w3school - scroll smooth */
    /*Footer*/
    .footer-content {
        margin-top: 200px;
        border-top: solid 3px #c6c666;
        background: white;
        padding: 2em;
        font-family: Helvetica, sans-serif;
        color: black;
        text-align: center;
    }
    
    .footer content p {
        font-size: 14px;
        text-align: center;
    }

    .footer-content li{
        padding-right: 6em;
        padding-left: 6em;
        margin-left: 30px;
        margin-right: 50px;
    }

    .footer-list ul{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
     }
    
    
    .footer-content li{
        margin-left: 10px;
        margin-right: 50px;
     
    }

    /*IG og YT iconer får margin for at lave plads mellem alle iconer*/
    .ig-footer{
        margin-right: 10px;
        margin-left: 20px;
    }

    .yt-footer{
        margin-right: 20px;
        margin-left: 20px;
    }
    /*Footer SoMe iconer's størrelse*/
    .tw-footer img{
        width: 40px;
        height: 40px;
    }
    .yt-footer img{
        width: 40px;
        height: 40px;
    }
    .fb-footer img{
        width: 40px;
        height: 40px;
    }
    .ig-footer img{
        width: 40px;
        height: 40px;
    }

html{
    scroll-behavior: smooth;
    }

body{
    margin: 0%;
    background-color: white;
}
/* section 1 styling*/
.container {
    position: relative;
    display:flex;
    height: 300px;
    background-color:white;
    border-bottom: 2px solid black;
}

.container img {
    position: relative;
    width: auto;
    height: 250px;
    border-radius: 15px;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4)
}

.container .btn {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #dbdb70;
    color: #000000;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 80px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin:auto;
}
  
.container .btn:hover {
    background-color: #f3953f;
}

.container > div {
    background-color: rgba(167, 23, 23, 0.8);
    text-align: center;
    height: 300px;
    width: 400px;
    font-size: 30px;
}

/*section 2 - flexbox styling*/
.flex-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    background-color: white;
    height: 450px;
    padding-top:80px;
    border-bottom: 2px solid black;
}

.flex-container > div {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 170px;
    height: 150px;
    text-align:center;
    line-height: 1.6;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
}

.item1{
    margin:10px;
    margin-top: 10px;
    background-color: #f3953f;
    padding-top: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4)
}

.item2{
    margin:10px;
    margin-top: 10px;
    background-color: #dbdb70;
    padding-top: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4)
}

.item3{
    margin:10px;
    margin-top: 10px;
    background-color: #eb5e53;
    padding-top: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4)
}

.item4{
    margin:10px;
    margin-top: 10px;
    background-color: #fecc5b;
    padding-top: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4)
}

/*section3 styling tilmelding boxen*/

.signup-box {
    width:360px;
    height: 520px;
    margin: auto;
    margin-top: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border:solid#EB5E53;
}

h1{
    text-align: center;
    font-size: 30px;
    font-family: 'vast shadow';
    margin-top:50px;
}

h3{
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    font-family:Arial, Helvetica, sans-serif ;
    padding-left: 50px;
    padding-top: 10px;
}

form {
    padding-top: 10px;
    width: 300px;
    margin-left: 20px;
}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

form input {
    width: 300px;
    padding: 7px;
    background-color:#fecc5b;
    border: 2px solid #eb5e53;
    border-radius: 6px;
    opacity: 50%;
}

input[type="button"] {
    width: 300px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #fecc5b;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    opacity: 50%;
    border: 2px solid #eb5e53;
}

p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.para-2 {
    text-align: center;
    font-size: 15px;
    margin-top: -10px;
}

.para-2 a {
    color: #f3cb41;
}

img {
    height:100px;
}

/* nav begynder */
#logo{
    height: 100px;
    margin: .5rem;
}
    
.navbar {
    visibility: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 2px solid #dbdb70;
}
    

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}
    
.navbar-links li {
    list-style: none;
}
    
.navbar-links li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
    font-family: 'Vast Shadow', Arial, Helvetica, sans-serif;
}
    
.navbar-links li:hover {
    background-color: #eb5e53;
}
    

.toggle-button {
    position: absolute;
    top: 35px;
    right: 50px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
}
    
.toggle-button .bar {
    height: 3px;
    width: 60px;
    background-color:black;
    border-radius: 10px;
}

.toggle-button {
    display: flex;
    position: absolute;
}
    
.navbar-links {
    display: none;
    width: 100%;
}
    
.navbar {
    flex-direction: column;
    align-items: flex-start;
}
    
.navbar-links ul {
    width: 100%;
    flex-direction: column;
}
    
.navbar-links li {
    text-align: center;
}
    
.navbar-links a {
    padding: .5rem 1rem;
}
    
.navbar-links.active {
    display: flex;
}

@media screen and (min-width: 600px){

    *{
        margin: 0px;
        padding: 0px;
    }
    
    body{
        background-color: white;
    }

    .logo{
        padding: 3px;
    }
    
    .toggle-button{
        display: none;
    }

    .navbar{
        flex-direction: row;
        align-items: center;
        min-width: none;
    }

    .navbar-links{
        width: 50%;
        display: inline;
    }

    .navbar-links li{ 
        display: inline-block;
        justify-content: right;
    }

    .navbar-links ul{
        display: flex;
        margin: auto;
        flex-direction: row;
    }
    
    li{
        float: right;
    }
    
    li a{
        display: block;
        color: #000000;
        margin: 0;
        text-decoration: none;
        font-size: 10px; 
     
    }
    
    li i{
        margin: 0;
    }
    
    li a:hover{
        color: #eb5e53;
    }
    
    li a:active{
        color: #eb5e53;
    }
    
    .navbar-links li:hover {
        background-color: white;
    }

/*Footer*/
.footer-content {
    position: inherit;
    margin-top: 200px;
    border-top: solid 3px #c6c666;
    background: white;
    padding: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

.footer content p {
    font-size: 14px;
    justify-content: space-between;
    text-decoration: none;
    flex-direction: row;
    
}

.footer-content li{
    list-style: none;
    padding: 1rem;
    display: block;
    display: inline-block;
}

    /*Footer SoMe iconer's størrelse*/
    .tw-footer img{
        width: 40px;
        height: 40px;
    }
    .yt-footer img{
        width: 40px;
        height: 40px;
    }
    .fb-footer img{
        width: 40px;
        height: 40px;
    }
    .ig-footer img{
        width: 40px;
        height: 40px;
    }

@media screen and (min-width: 600px){

    *{
        margin: 0px;
        padding: 0px;
    }
    
    body{
        background-color: white;
    }

    #forsidebillede{
        width: 100%;
        height: 35vw;
    }

    .forside-bld{
        position: relative;
        text-align: center;
        color: white;
    }

    .center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
    }
    
    .logo{
        padding: 3px;
    }
    .toggle-button{
        display: none;
    }

    .navbar{
        flex-direction: row;
        align-items: center;
        min-width: none;
    }

    .navbar-links{
        width: 50%;
        display: inline;
    }

    .navbar-links li{ 
        display: inline-block;
        justify-content: right;
    }

    .navbar-links ul{
        display: flex;
        margin: auto;
        flex-direction: row;
    }
    
    li{
        float: right;
    }
    
    li a{
        display: block;
        color: #000000;
        margin: 0;
        text-decoration: none;
        font-size: 15px;
        font-family: Helvetica, Arial, sans-serif;
    }
    
    li i{
        margin: 0;
    }
    
    li a:hover{
        color: #EB5E53;
    }
    
    li a:active{
        color: #EB5E53;
    }
}
/* nav Slutter */
}