*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}

@font-face {
    font-family: rubik;
    src: url(static/Rubik-Bold.ttf);
}

@font-face {
    font-family: roboto;
    src: url(static/Rubik-Medium.ttf);
}

/*Mobil navigation*/

.logo{
    height: 100px;
    padding: 37px 0px 0px 10px;
    font-size: 20px;
    font-family: rubik;
}
    
.navbar {
    visibility: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid #000000;
    color: black;
    margin-left: 0;
    margin-right: 0;
}
    
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: roboto;
}
    
.navbar-links li {
    list-style: none;
}
    
.navbar-links li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}
    
    
.toggle-button {
    position: absolute;
    top: 35px;
    right: 50px;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
}
    
.toggle-button .bar {
    height: 3px;
    width: 60px;
    background-color: black;
    border-radius: 10px;
}

.toggle-button {
    display: flex;
    position: absolute;
}
    
.navbar-links {
    display: none;
    width: 100%;
}
    
.navbar {
    flex-direction: column;
    align-items: flex-start;
}
    
.navbar-links ul {
    width: 100%;
    flex-direction: column;
}
    
.navbar-links li {
    text-align: center;
}
    
.navbar-links a {
    padding: .5rem 1rem;
}
    
.navbar-links.active {
    display: flex;
}


/*Main mobil section*/


.mainsection{
    background-color: #40C9A2;
    background-image: linear-gradient(#40C9A2 65%, #000000);
    height: 300px;
    text-align: center;
    padding: 20px 0px 0px 0px;
    color: #F5F5F5;
}

.mainsection h1{
    font-family: rubik;
    font-size: 35px;
    margin: 0px 0px 0px 0px;
}

.mainsection p{
    font-family: roboto;
    font-size: 15px;
    padding: 0px 10px 0px 10px;
    margin: 20px 0px 0px 0px;
}

/*Hvis tekst skal have lidt skygge*/

.shadowbrødtekst{
    text-shadow: 2px 2px 8px black;
}

/*Gælder for alle projekter*/

.projekter{
    text-align: center;
    color: #F5F5F5;
}

.rumrejsenbaggrund{
    background-image:url("/mobil/Rumrejsenbaggrund.png");
    height: 1000px;
}

.projekter h4{
    font-size: 30px;
    font-family: rubik;
    margin: 20px 0px 0px 0px;
}


.projekter p{
    font-size: 15px;
    font-family: roboto;
    margin: 15px 0px 0px 0px;
}

.projekter img{
    margin-top: 30px;
}

.grid-container{
    display: grid;
    grid-template-columns: 350px;
    padding: 10px;
    grid-template-rows: 400px 300px;
    justify-content: center;
    grid-row-gap: 75px;
}


/*Dans, dans, dans - del 1*/

.dansdel1bagrund{
    background-image:url("/mobil/Dansx3d1.png");
    height: 1000px;
}

/*Video projekt*/

.videobagrund{
    background-image:url("/mobil/Ludomobil.png");
    height: 1000px;
}

/*Ide konkurrencen projekt*/

.iværksætterbaggrund{
    background-image:url("/mobil/Iværksætterbaggrund.png");
    height: 1000px;
}

/*Dans, dans, dans - Del 2*/

.dansdel2baggrund{
    background-image:url("/mobil/Jivebaggrund.png");
    height: 1000px;
}

/*SoMe projekt*/

.somebaggrund{
    background-image:url("/mobil/SoMebaggrund.png");
    height: 1000px;
}

@media screen and (min-width:768px) {

/*desktop nav*/

.logo{
    font-size: 40px;
    margin-bottom: 20px;
}
.toggle-button{
    display: none;
}

.navbar{
    flex-direction: row;
    align-items: center;
    min-width: none;
}

.navbar-links{
    width: 45%;
    display: inline;

}

.navbar-links li{ 
    display: inline-block;
    justify-content: right;
}

.navbar-links ul{
    display: flex;
    margin: auto;
    flex-direction: row;
}

li{
    float: right;
}

li a{
    display: block;
    color: #ffffff;
    margin: 10px 0px 0px 30px;
    text-decoration: none;
    font-size: 25px;
    font-family: rubik;
    
}

li i{
    margin: 0;
}

/*main desktop version*/

.mainsection{
    background-color: #40C9A2;
    background-image: linear-gradient(#40C9A2 65%, #000000);
    height: 350px;
    text-align: center;
    padding: 40px 0px 0px 0px;
    color: #F5F5F5;
}

.mainsection h1{
    font-family: rubik;
    font-size: 75px;
}

.mainsection p{
    font-family: roboto;
    font-size: 20px;
    padding: 0px 150px 0px 150px;
    margin: 20px 0px 0px 0px;
}

.grid-container{
    display: grid;
    grid-template-columns: 400px 400px;
    padding: 10px;
    justify-content: center;
    grid-column-gap: 100px;
}

/*Hvis tekst skal have lidt skygge*/

.shadowbrødtekst{
    text-shadow: 2px 2px 8px black;
}

/*Gælder for alle projekter*/

.projekter{
    text-align: center;
    color: #F5F5F5;
}

.projekter h4{
    font-size: 50px;
    font-family: rubik;
    margin: 15px 0px 0px 0px;
    padding: 20px;
}


.projekter p{
    font-size: 20px;
    font-family: roboto;
    margin: 15px 0px 0px 0px;
}

.grid-container p{
    margin-top: 300px;
}

.projekter img{
    margin-top: 250px;
    width: 400px;
    height: 500px;
}

.grid-rumbillede{
    grid-column: 2/2;
}

.grid-rumtekst{
    grid-column: 1/1;
    grid-row: 1/1;
}

.grid-ludobillede{
    grid-column: 2/2;
}

.grid-ludotekst{
    grid-column: 1/1;
    grid-row: 1/1;
}

.grid-jivebillede{
    grid-column: 2/2;
}

.grid-jivetekst{
    grid-column: 1/1;
    grid-row: 1/1;
}

/*rumrejsen*/

.rumrejsenbaggrund{
    background-image:url("/desktop/Rumrejsenbaggrund.png");
    height: 1080px;
}

/*Dans, dans, dans - del 1*/

.dansdel1bagrund{
    background-image:url("/desktop/Dansx3del1baggrund.png");
    height: 1080px;
}

/*Video projekt*/

.videobagrund{
    background-image:url("/desktop/Ludobaggrund.png");
    height: 1080px;
}

/*Ide konkurrencen projekt*/

.iværksætterbaggrund{
    background-image:url("/desktop/Iværksætterbaggrund.png");
    height: 1080px;
}

/*Dans, dans, dans - Del 2*/

.dansdel2baggrund{
    background-image:url("/desktop/Jivebaggrund.png");
    height: 1080px;
}

/*SoMe projekt*/

.somebaggrund{
    background-image:url("/desktop/SoMebaggrund.png");
    height: 1080px;
}

/*main desktop version*/

}
